<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Quaternate</title>
    <meta
      name="description"
      content="An interactive interconnected collection"
    />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
    />
  </head>

  <body id="page-top" style="background: var(--purple)">
    <a class="menu-toggle rounded" href="#"><i class="fa fa-bars"></i></a>
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
      <div class="container">
        <button
          data-toggle="collapse"
          class="navbar-toggler d-none"
          data-target="#"
        ></button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav sidebar-nav" id="sidebar-nav">
            <li class="nav-item sidebar-brand">
              <a class="nav-link active js-scroll-trigger" href="#page-top"
                >Quaternate</a
              >
            </li>
            <li class="nav-item sidebar-nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="nav-item sidebar-nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            
            <li class="nav-item sidebar-nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio"
                >Our Products</a
              >
            </li>
            <li class="nav-item sidebar-nav-item">
              <a class="nav-link js-scroll-trigger" href="#services"
                >Services</a
              >
            </li>
            <li class="nav-item sidebar-nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header
      class="d-flex masthead"
      style="background: url('/assets/img/portfolio-1.jpg')"
    >
      <div class="container text-center my-auto" style="padding: 15px30px">
        <h1 class="mb-1" style="color: var(--white)">Quaternate</h1>
        <h3 class="mb-5" style="color: var(--light)">
          Your Home-based Cubicle&nbsp;
        </h3>
        <a
          class="btn btn-dark btn-xl js-scroll-trigger"
          role="button"
          href="/room/hall"
          style="
            font-size: 25px;
            background: rgb(5, 11, 18);
            padding: 15px 30px;
          "
          >Cubicles</a
        >
        <div class="overlay"></div>
      </div>
    </header>
    <section class="bg-light content-section" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>
              The interactive interconnected collaborative environment, right at
              your cursor!
            </h2>
            <p class="lead mb-5">
              This app supports a user friendly environment suitable for
              collaborative production among&nbsp; people. One can document,
              draw, text and talk while hanging out virtually with his friends
              in real time on reel with everything on the same screen.&nbsp;
            </p>
            <a
              class="btn btn-dark btn-xl js-scroll-trigger"
              role="button"
              href="/auth/register"
              >Create Profile</a
            >
          </div>
        </div>
      </div>
    </section>
    <section>
      <div id="portfolio" class="content-section container">
        <div class="text-center content-section-heading">
          <h3 class="text-secondary mb-0">What's in the Box</h3>
          <h2 class="mb-5">Products and Features</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#portfolio">
              <div class="caption">
                <div class="caption-content">
                  <h2>ChatterBox</h2>
                  <p class="mb-0">
                    The Dream place to your gossip sessions. Enjoy your never ending texts with your friends!
                  </p>
                </div>
              </div>
              <img class="img-fluid" src="/assets/img/text.jpg" />
            </a>
          </div>          
          <div class="col-lg-6">
            <a class="portfolio-item" href="#portfolio">
              <div class="caption">
                <div class="caption-content">
                  <h2>Doodle</h2>
                  <p class="mb-0">
                    Skribble out the real art inside your brain and let your friends see it all!
                  </p>
                </div>
              </div>
              <img class="img-fluid" src="/assets/img/art.jpg" />
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#portfolio">
              <div class="caption">
                <div class="caption-content">
                  <h2>DocBox</h2>
                  <p class="mb-0">
                    Create and edit document files here, and finish all the stories you wanted to write with your friends! (Under Construction)
                  </p>
                </div>
              </div>
              <img class="img-fluid" src="/assets/img/doc.jpg" />
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#portfolio">
              <div class="caption">
                <div class="caption-content">
                  <h2>CamCall</h2>
                  <p class="mb-0" >
                    Call up your friends to see who changed his looks this lock-down - All with just a simple Cam Call!
                  </p>
                </div>
              </div>
              <img class="img-fluid" src="/assets/img/vc.jpg" />
            </a>
          </div>
          
        </div>
      </div>
    </section>
    <section>
      <div id="services" class="container text-center text-white bg-primary content-section">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <span class="mx-auto service-icon rounded-circle mb-3"
              ><i class="icon-doc"></i
            ></span>
            <h4>DocBox</h4>
            <p class="mb-0 text-faded">
              Finish that deadline report with your friends
            </p>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <span class="mx-auto service-icon rounded-circle mb-3"
              ><i class="icon-pencil"></i
            ></span>
            <h4>Doodle</h4>
            <p class="mb-0 text-faded">Scratch your ideas on the screen</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <span class="mx-auto service-icon rounded-circle mb-3"
              ><i class="icon-camera"></i
            ></span>
            <h4><strong>CamCall</strong></h4>
            <p class="mb-0 text-faded">Watch your friends passing on smiles</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <span class="mx-auto service-icon rounded-circle mb-3"
              ><i class="icon-bubble"></i
            ></span>
            <h4><strong>ChatterBox</strong></h4>
            <p class="mb-0 text-faded">Have your hot gossips Here</p>
          </div>
        </div>
      </div>
        
    </section>
    <section
      class="callout"
      style="
      margin: 30px;
        background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0.1) 0%,
              rgba(255, 255, 255, 0.1) 100%
            )
            center center / cover no-repeat,
          url('/assets/img/32627.jpg') center center / cover no-repeat;
      "
    >
      <div class="container text-center">
        <h2
          class="flex-grow-1 mx-auto mb-5"
          style="margin: 0px 0px 30px; width: 1000px"
        >
          <span
            >Ready for some&nbsp;<br /><strong
              >Quaternations? Get App and Invite friends today!</strong
            ><br /><br />&nbsp;</span
          ><em></em><span class="text-justify"><br /><br /></span>
        </h2>
        <a
          class="btn btn-dark btn-xl js-scroll-trigger"
          role="button"
          href="/auth/login"
          style="background: rgb(5, 104, 253); font-size: 30px"
          >Login Now!</a
        >
      </div>
    </section>
    
    <section class="text-white bg-primary content-section">
      <div class="container text-center">
        <h2 class="mb-4">The People you see here built this amazing website :D</h2>        
      </div>      
    </section>
    <section id="contact" class="map">
      <div class="row" style="margin-top: 20px;">
        <div class="col-lg-4 col-md-6 col-sm-8" style="text-align: center;color: aliceblue;"> 
          <img class="ourimage"
          src="/assets/img/joe.jfif"
          height="400px"
          >
          <h2 style="text-align: center;">Jonathan Samuel J</h2>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8" style="text-align: center;color: aliceblue;"> 
          <img class="ourimage"
          src="/assets/img/creators.jpeg"
          height="400px"
          >
          <h2 style="text-align: center;">Nauty and Joe</h2>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8" style="text-align: center; color: aliceblue;"> 
          <img class="ourimage"
          src="/assets/img/vn.jpg"
          height="400px"
          
          >
          <h2 style="text-align: center;">Vaishnavee Nautiyal</h2>
        </div>

        
      </div>
     
    </section>
    <footer class="text-center footer">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            &nbsp;<a class="text-white social-link rounded-circle" href="#"
              ><i class="icon-social-facebook"></i
            ></a>
          </li>
          <li class="list-inline-item">
            &nbsp;<a class="text-white social-link rounded-circle" href="#"
              ><i class="icon-social-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            &nbsp;<a class="text-white social-link rounded-circle" href="#"
              ><i class="icon-social-github"></i
            ></a>
          </li>
        </ul>
        <p class="text-muted mb-0 small">Copyright &nbsp;© Quaternate 2021</p>
      </div>
      <a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"
        ><i class="fa fa-angle-up"></i
      ></a>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/assets/js/stylish-portfolio.js"></script>
  </body>
</html>
