:root {
  --rowHeight: 98vh;
  --colWidth: 98vw;
}

body {
  background: black;
}

.videos {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row;
  padding-bottom: 0px;

  grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
}

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 40%;

  min-height: 50vh;
  min-width: 1vw;
  max-width: 30vw;
}

.videoContainer video {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

.videoLabel {
  color: white;
  font: bold 24px Arial, Sans-Serif;
  line-height: 24px;
  height: 24px;

  background: rgba(0, 0, 0, 0.55);

  position: absolute;
  left: 0;
  bottom: 0;
  padding: 6px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: transparent;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

#mic {
  margin-right: 10px;
}
#video {
  margin-left: 10px;
}
