body {
  background: black;
}

.videos {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row;
  padding-bottom: 0px;

  grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
}

.videoContainer {
  background-color: black;
  height: 40vh;
}

video {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  border-radius: 30px;

  margin: 5px;
}

.videoLabel {
  color: white;
  font: bold 22px Arial, Sans-Serif;
  height: 30px;

  background: rgba(0, 0, 0, 0.55);

  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer1 {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  background-color: transparent;
  color: transparent;
  text-align: center;
}

#mic {
  margin-right: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
}
#video {
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
}

#stopCall {
  margin-left: 10px;
  color: white;
  background-color: #ff1e56;
}

#startCall {
  margin-left: 10px;
  color: white;
  background-color: #ff1e56;
}
